[submodule "external/qwen3-tts-cpp"]
	path = external/qwen3-tts-cpp
	url = https://github.com/hobpond/qwen3-tts.cpp.git
	branch = main
[submodule "external/qwen3-asr-cpp"]
	path = external/qwen3-asr-cpp
	url = https://github.com/hobpond/qwen3-asr.cpp.git
	branch = main
